body {
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../assets/blueBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
}

.wrapper {
    max-width: 566px;
    background: rgba(0, 0, 0, 0.48);
    backdrop-filter: blur(7px);
    color: #EDF2F4;
    border: 0.5px solid #B6B6B6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    padding: 30px 40px;
}


.wrapper .heading {
    margin-bottom: 48px;
    margin-top: 12px;
}

.wrapper .heading h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}

.wrapper .heading img {
    width: 16%;
    margin-bottom: 20px;
}

.wrapper .heading p {
    margin-top: 12px;
    font-weight: 600;
    font-size: 16px;
}



.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.wrapper .input-box:not(:last-child) {
    margin-top: 40px;
}

.wrapper form label {
    font-size: 16px;
    font-weight: 500;
}


.input-box input {
    width: 100%;
    height: 90%;
    background-color: #EDF2F4;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: #000;
    padding: 10px 20px;
    margin-top: 4px;
    font-size: 18px;
}






.wrapper .forgot {
    font-size: 16px;
    margin-top: 24px;
}



.forgot a {
    color: #F9AFAF;
    
}

.forgot a:hover {
    color: #FFC5C5;
}



.wrapper button {
    margin-top: 52px;
    width: 40%;
    height: 50px;
    background-color: #0E72E5;
    border: 0.3px solid #EDF2F4;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #FFF;
    font-weight:700;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 0 10px;
    transition: background-color 0.2s ease-in-out;
}

.wrapper button:hover {
    background-color: #2C88F2;
}


.password-box .password-eye{
    height: 100%;
    width: 10%;
    padding: auto;
    font-size: 18px;
    background-color: #EDF2F4;
    color: #000;
    margin-top: 0px;
    outline: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;   
    font-weight:700;
    box-shadow: none;
    border: none;    
}


.input-box .password-box input {
    width: 90%;
    height: 100%;
    border: none;
    
}

.password-box {
   background-color: #EDF2F4;
   border-radius: 10px;
   margin-top: 3px;

}

.password-box input {
    height: 100%;
}

.password-box button:hover {
    background-color: #EDF2F4;
}



.wrapper .register-link {
    font-size: 16px;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #F8C291;
    font-weight: 700;
    margin-left: 4px;

}


/* BACK button for Forgot Password*/
.button-group {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.button-group button {
    font-weight: 500;
    width: 42%;
    height: 80%;
}

.button-group .password-back-button {
    background-color: transparent;
}

.button-group .password-back-button:hover {
    background-color: rgba(176, 189, 203, 0.54);
}



